
  {% extends "articles/base.html" %}

  {% block title %}
  <title>Add Article</title>
  {% endblock %}
  {% load staticfiles %}

  {% block content %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({% static 'articles/img/contact-bg.jpg' %})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Add new article</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Add new article now</p>
        <form name="form" method="post" id="contactForm" action="{% url 'add_article' %}">
          {% csrf_token %}
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Title</label>
              <input type="text" class="form-control" placeholder="Title" name="title" id="name" required data-validation-required-message="Please enter title.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Subtitle</label>
              <input type="text" class="form-control" placeholder="Subtitle" name="subtitle" id="subtitle" required data-validation-required-message="Please enter subtitle.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Description</label>
              <textarea rows="5" class="form-control" placeholder="Description" name="description" id="description" required data-validation-required-message="Please enter the description."></textarea>
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <br>
          <div id="success"></div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary" id="sendMessageButton">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  {% endblock %}
